<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card border-info ">
        <div class="card-header">
          <p class="text-info text-center h1">Cliente</p>
        </div>
        <div class="card-body text-info">
          <form [formGroup]="clienteForm">


            <div class="form-row">

                  <div class="form-group col">
                    <label for="inputnombre"> nombre</label>
                    <input type="text" class="form-control" id="inputnombre" name="nombre"
                           placeholder="">
                  </div>
                  <div class="form-group col">
                    <label for="inputnombre">apellido</label>
                    <input type="text" class="form-control" id="inputnombre" name="nombre"
                           placeholder="">
                  </div>
                  <div class="form-group col">
                    <label for="inputnombre"> Direccion</label>
                    <input type="text" class="form-control" id="inputnombre" name="nombre"
                           placeholder="">
                  </div>
                  <div class="form-group col">
                    <label for="inputnombre"> celular</label>
                    <input type="text" class="form-control" id="inputnombre" name="nombre"
                           placeholder="">
                  </div>

            </div>

            <button (click)="guardarCliente()" [disabled]="clienteForm.invalid">Añadir</button>

          </form>
        </div>
      </div>

    </div>
<div class="col-md-7">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Descripcion</th>
      <th>Celular</th>
      <th></th>

    </tr>
    </thead>
    <tbody *ngFor="let cliente of clientes; let i=index">
    <tr>
      <th scope="row">{{i + 1}}</th>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.apellidos}}</td>
      <td>{{cliente.direccion}}</td>
      <td>{{cliente.celular}}</td>
      <!--              <td>Otto</td>-->
      <td>
      <td>
        <button type="button" class="btn btn-primary" (click)="editar(cliente.id)">EDITAR</button>
      </td>
      <td></td>
      <td>
        <button type="button" class="btn btn-primary" (click)="eliminar(cliente.id)">ELIMINAR</button>

      </td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
  </div>
</div>

