<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card border-info ">
        <div class="card-header">
          <p class="text-info text-center h1">detalle pedido</p>
        </div>
        <div class="card-body text-info">
          <form action="
                  " method="post">

            <div class="form-row">
              <div class="form-group col">
                <label for="inputnombre">Ingrese la Id</label>
                <input type="text" class="form-control" id="inputnombre" name="nombre"
                       placeholder="">
              </div>
              <div class="form-group col">
                <label for="inputnombre">Fecha Venta</label>
                <input type="text" class="form-control" id="inputnombre" name="nombre"
                       placeholder="">
              </div>
              <div class="form-group col">
                <label for="inputnombre">Cantidad</label>
                <input type="text" class="form-control" id="inputnombre" name="nombre"
                       placeholder="">
              </div>
              <div class="form-group col">
                <label for="inputnombre"> Id Pedido </label>
                <input type="text" class="form-control" id="inputnombre" name="nombre"
                       placeholder="">
              </div>

              <button type="button" class="thead-dark">Agregar</button>
            </div>
          </form>


        </div>

      </div>
      <div class="col-md-7">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>id</th>
            <th>fechaVenta</th>
            <th>cantidad</th>
            <th>PedidoId</th>

            <th></th>

          </tr>
          </thead>

          <tbody *ngFor="let detallepedido of detallepedidos; let i=index">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{detallepedido.fechaVenta}}</td>
            <td>{{detallepedido.cantidadId}}</td>
            <td>{{detallepedido.pedidoId}}</td>

            <!--              <td>Otto</td>-->
            <td>
            <td>
              <button type="button" class="btn btn-primary" (click)="(detallepedido.id)">EDITAR</button>
            </td>
            <td></td>
            <td>
              <button type="button" class="btn btn-primary" (click)="eliminar(detallepedido.id)">ELIMINAR</button>

            </td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



