
<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card border-info ">
        <div class="card-header">
          <p class="text-info text-center h1">Categoria</p>
        </div>
        <div class="card-body text-info">
          <form [formGroup]="categoriaForm"  >

            <div class="form-row">
              <div class="form-group col">
                <label for="inputnombre">Ingrese el Nombre</label>
                <input type="text" class="form-control" id="inputnomsbre"  formControlName="nombre"
                       placeholder="">
              </div>
              <div class="form-group col">
                <label for="inputnombre">Ingrese la Descripcion</label>
                <input type="text" class="form-control" id="inputnombre" formControlName="descripcion"
                       placeholder="">
              </div>
            </div>
            <button (click)="guardar()" [disabled]="categoriaForm.invalid">registrar</button>
<!--            <button type="button" class="btn btn-primary ">Agregar</button>-->

          </form>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="col-md-7">
  <div class="card border-info ">
    <div class="card-header">
      <p class="text-info text-center h1">Listar Categoria</p>
    </div>
    <div class="card-body text-info">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Acciones</th>
          <!--              <th>Last Name</th>-->
        </tr>
        </thead>
        <tbody *ngFor="let categoria of categorias; let i=index">
        <tr>
          <th scope="row">{{i + 1}}</th>
          <td>{{categoria.nombre}}</td>
          <!--              <td>Otto</td>-->
          <td>
          <td>
            <button type="button" class="btn btn-primary" (click)="editCategoria(categoria.id)">EDITAR</button>
          </td>
          <td>
            <button type="button" class="btn btn-primary" (click)="eliminarCategoria(categoria.id)">ELIMINAR</button>
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
