
<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card border-info ">
        <div class="card-header">
          <p class="text-info text-center h1">Categoria</p>
        </div>
        <div class="card-body text-info">
          <form action="
                " method="post">

            <div class="form-row">
              <div class="form-group col">
                <label for="inputnombre">Ingrese la Id</label>
                <input type="text" class="form-control" id="inputnomsbre" name="nombre"
                       placeholder="">
              </div>
              <div class="form-group col">
                <label for="inputnombre">Ingrese la CategoriaId</label>
                <input type="text" class="form-control" id="inputnombre" name="nombre"
                       placeholder="">
              </div>
              <div class="form-group col">
                      <label for="inputnombre">Ingrese la ProveedorId</label>
                      <input type="text" class="form-control" id="inputnombre" name="nombre"
                             placeholder="">
                    </div>
                    <div class="form-group col">
                          <label for="inputnombre">Ingrese NombreProducto</label>
                          <input type="text" class="form-control" id="inputnombre" name="nombre"
                                 placeholder="">
                        </div>
                        <div class="form-group col">
                              <label for="inputnombre">Ingrese el PrecioProducto</label>
                              <input type="text" class="form-control" id="inputnombre" name="nombre"
                                     placeholder="">
                            </div>
            </div>

            <button type="button" class="thead-dark">Agregar</button>

          </form>
        </div>
      </div>

    </div>
<div class="col-md-7">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>id</th>
      <th>CategoriaId</th>
      <th>ProveedorId</th>
      <th>NombreProducto</th>
      <th>PrecioProducto</th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td>
         <button type="button" class="btn btn-primary">eliminar</button>
         <button type="button" class="btn btn-primary">actualizar</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
          <button type="button" class="btn btn-primary">eliminar</button>
          <button type="button" class="btn btn-primary">actualizar</button>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
          <button type="button" class="btn btn-primary">eliminar</button>
          <button type="button" class="btn btn-primary">actualizar</button>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td></td>
      <td></td>
          <button type="button" class="btn btn-primary">eliminar</button>
          <button type="button" class="btn btn-primary">actualizar</button>
    </tr>

    </tbody>
  </table>
</div>
  </div>
</div>

